body {
  margin: 0;
  background-image: url("donut_shop_15.png");
  font-family: "DotGothic16", serif;
}

#canvas1 {
  border: 10px solid #ff90c7;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-image: url("veggie-invasion-background.png");
}
