body {
  margin: 0;
  font-family: "DotGothic16", serif;
}
main {
  background-image: url("donut_shop_15.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

#canvas1 {
  height: 90vh;
  max-height: 800px;
  border: 10px solid #c7f1c7;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-image: url("veggie-invasion-background.png");
}

#veggie_sprite_sheet,
#pink_donut,
#coffee_cup {
  display: none;
}
